@media (min-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0px;
    background-color: #f9f9f9;
    color: black;
}


h1, h2, h3 {
    color: black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}

h2 {
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.8rem;
}

.bigger_h2{
  margin-top: 2rem;
  font-size: 24px;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
}

.div {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 1.4rem;
}

.divDiv0 {
}

.divDiv0Div0 {
}

.divDiv0Div0Div0 {
}

.divDiv0Div0Div0Div0 {
}

.divDiv0Div0Div0Div0Div0 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.divDiv0Div0Div0Div0Div0Div0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1140px;
}

.divDiv0Div0Div0Div0Div0Div0H20 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.divDiv0Div0Div0Div0Div0Div1 {
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divDiv0Div0Div0Div0Div0Div1P0 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P1 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H32 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
}

.divDiv0Div0Div0Div0Div0Div1P3 {

  padding-left: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H34 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
}

.divDiv0Div0Div0Div0Div0Div1P5 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P6 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P7 {
  padding-left: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P8 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H39 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P10 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P11 {
  table {
    border-collapse: collapse;
    width: 1000px;
    text-align: center;
  }
  th, td {
    border: 1px solid black;
    padding: 15px;
  }
  th {
    background-color: #f0f0f0;
  }
  padding-left: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1Img12 {
  width: 400px;
  height: 400px;
  margin-left: 340px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P13 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.payway{
  white-space: pre-wrap;
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.bankway{
  padding-left: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.tips{
  text-indent: 2em;
  padding-left: 0em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.divDiv0Div0Div0Div0Div0Div1H314 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P15 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  padding-left: 2em;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H316 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P17 {
  padding-left: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1Div18 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.divDiv0Div0Div0Div0Div0Div1Div18P0 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  line-height: 42px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}


}








@media (max-width: 768px) {
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0.2rem;
    background-color: #f9f9f9;
    color: black;
}


h1, h2, h3 {
    color: black;
}

h1 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.4rem;
}

h2 {
  padding-bottom: 0;
  margin-top: 0;
  font-size: 1.2rem;
}

.bigger_h2{
  margin-top: 2rem;
  font-size: 1.3rem;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
}

.div {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 1.4rem;
}


.divDiv0Div0Div0Div0Div0 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.divDiv0Div0Div0Div0Div0Div0 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.divDiv0Div0Div0Div0Div0Div0H20 {
  text-align: center;
}

.divDiv0Div0Div0Div0Div0Div1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.divDiv0Div0Div0Div0Div0Div1P0 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P1 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H32 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
}

.divDiv0Div0Div0Div0Div0Div1P3 {

  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H34 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
}

.divDiv0Div0Div0Div0Div0Div1P5 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P6 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.dl{
  padding-left: 2em;
}

.divDiv0Div0Div0Div0Div0Div1P7 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P8 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H39 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P10 {
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P11 {
  table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  th, td {
    border: 1px solid black;
    padding: 15px;
  }
  th {
    background-color: #f0f0f0;
  }

  margin-bottom: 0px;
  word-break: break-all;
  font-size: 0.6rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.sfbz{
  font-size: 1.1rem;
  text-indent: 2em;
}

.divDiv0Div0Div0Div0Div0Div1Img12 {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P13 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.payway{
  white-space: pre-wrap;
  text-indent: 2em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.bankway{
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.tips{
  text-indent: 2em;
  padding-left: 0em;
  margin-bottom: 0px;
  word-break: break-all;

  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
.divDiv0Div0Div0Div0Div0Div1H314 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P15 {
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1H316 {
  margin-bottom: 0px;
  word-break: break-all;

  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1P17 {
  padding-left: 0em;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 1.1rem;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}

.divDiv0Div0Div0Div0Div0Div1Div18 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.divDiv0Div0Div0Div0Div0Div1Div18P0 {
  text-align: right;
  margin-bottom: 0px;
  word-break: break-all;
  font-size: 20px;
  font-family: 'KaiTi', '楷体', '楷体_GB2312', sans-serif;
}
}
